
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
.branding{
    background-color: #a60adf;
    color: whitesmoke;
}
.color-front{
    background-color: #a60adf;
}

.booking-form{
    font-size: 20px;
    color: #e5e0e7;
    background-color:#ad0de798;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 20px;
    max-width: 90%;
    float: left;
    margin: 5%;
}
.input-group{
margin-bottom: 2%;
}
.inp-style{
    margin-left: 5%;
}
.inp-width{
    min-width: 30px;
}
.book-btn{
    color: #a60adf;
    background-color: rgba(241, 240, 245, 0.966);
}

.contact{
    background-color: rgb(34, 50, 185);
    padding: 10%;
}

.rights{
    color: whitesmoke;
    padding: 10%;

}

.greetings{
    display: none;
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    padding: 10%;
}